.Disclaimer{opacity:.5;padding:1em 20px 0;max-width:1440px;margin:0 auto}.Disclaimer p{color:#98a2ae}@media (min-width:1024px){.Disclaimer{padding:1em 110px 0}.Disclaimer p{font-size:14px;line-height:20px}}.Disclaimer__divider{height:1px;color:#4d5766;border-top:.5px solid #dcdcdc;background-color:#4d5766}.Disclaimer__text{margin-bottom:5px}.Disclaimer__text:last-child{margin-bottom:20px}.Disclaimer a{display:inline-block}.Disclaimer a:after{content:"";display:block;border-bottom:1px solid;margin-top:-3px}.Disclaimer a:hover{opacity:.8}@media (min-width:768px){.Disclaimer--left{text-align:left}}.Disclaimer--no-padding{padding:0}.open-source{padding-top:40px;padding-bottom:20px;display:-webkit-box;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;flex-direction:column;-webkit-box-pack:center;justify-content:center;background-color:#f7f7f7}@media (min-width:768px){.open-source{padding-top:80px;padding-bottom:40px}}.open-source__inner{max-width:1440px;margin-left:20px;margin-right:20px}@media (min-width:768px){.open-source__inner{width:740px;margin:0 auto;display:block}}.open-source h1{font-size:40px;line-height:46px}@media (min-width:768px){.open-source h1{font-size:60px;line-height:68px}}@media (min-width:1024px){.open-source h1{font-size:72px;line-height:84px}}.open-source__updated-date{margin-bottom:50px}.open-source__select-year-block{display:-webkit-box;display:flex;-webkit-box-align:center;align-items:center}.open-source__select-year-block__label{margin-right:20px}.open-source .Select__container{width:120px}.open-source .patch-collapsible__header{cursor:pointer;border-bottom:1px solid #979797;padding:18px 8px 18px 0;display:-webkit-box;display:flex;-webkit-box-pack:justify;justify-content:space-between}.open-source .patch-collapsible__body{padding-bottom:20px;padding-top:20px}.open-source .patch-collapsible__body ul{padding-left:40px}
/*
     FILE ARCHIVED ON 10:27:27 Dec 22, 2022 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 19:36:27 Feb 14, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 142.146
  exclusion.robots: 0.127
  exclusion.robots.policy: 0.117
  RedisCDXSource: 13.694
  esindex: 0.009
  LoadShardBlock: 108.074 (3)
  PetaboxLoader3.datanode: 75.273 (4)
  CDXLines.iter: 17.508 (3)
  load_resource: 83.645
  PetaboxLoader3.resolve: 45.19
*/